html, body {
	height:100%;
	background:#ffffff;
	margin: 0;
}
a:hover {
	color: #ff9900;
}
header {
	display:flex;
	background:#ffffff;
	justify-content:space-around;
	flex-flow: row wrap;
}
.child {
	flex-grow:1;
}
header ul {
	list-style-type:none;
	display:flex;
	flex-flow: row wrap;
	width:600px;
	margin:0;padding:0;
}
header ul li {
	flex-grow:1;
	margin: 0 1.25em;
	text-align:center;
}
header ul li a {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	padding: 8px 12px;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #444546;
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
}
.nav-effect a:hover::before, .nav-effect a:focus::before {
    color: #444546;
	text-shadow: 10px 0 #444546, -10px 0 #444546;
}
.nav-effect a::before {
    position: absolute;
    top: 100%;
    left: 50%;
    color: transparent;
    content: '•';
    text-shadow: 0 0 transparent;
    font-size: 1.2em;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}
header div:nth-child(1) .logo{
    margin-left:20px;
    flex-grow:8;
    width:150px;
    padding: 0;
    margin: 0;
}
header div:nth-child(1) img{
    width: 150px;
}
.hero{
	background:
    linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6)
    ),
	url("../images/Seattle_3.jpg");
	background-size: cover;
	background-position: center;
	width:100%;
	height: 100vh;
	display: flex;
}
.center-content{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.center-content h1,.center-content h3{
	color: #ffffff;
	line-height: 1;
	text-align: center;
}
.center-content h1{
	text-transform: uppercase;
	font-size: 5em;
	margin-bottom: 0;
}
.center-content h3{
	margin-bottom: 40px;
	font-size: 2em;
	font-weight: normal;
}
header nav{
    display: flex;
    align-items: center;
}
#contactPhone{
    font-size: 4em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    justify-content: right;
    padding-right: 20px;
}
#contactPhone a{
    color: #000000;
}
#contactPhone a:hover{
    color: #ff9900;
}
h1, h2{
	color: #000000;
	font-family: 'Roboto', sans-serif;
	line-height: 2em;
}
h2{
	font-size: 2em;
	margin: 0 0 1rem;
}
h3{
	font-size: 1.6em;
	font-family: 'Roboto', sans-serif;
	margin: 0 0 1rem;
}
h4{
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
	margin: 0 0 1rem;
}
p{
    font-size: 1em;
	line-height: 1.6;
	margin: 0 0 1rem;
}
a{
	transition: all .275s;
}
img {
	max-width: 100%;
	height: auto;
}
.container{
	padding:30px;
}
.flexcontainter{
	display: flex;
	flex-direction: row;
}
.grid-containter{
	display: grid;
	grid-gap: 2em;
	padding: 1em;
}
.main-content{
	grid-column: 1/3;
	grid-row: 1/4;
}
.side-image {
	grid-column: 4/5 ;
	grid-row: 2 / 1;
}
.jokes {
	grid-column: 4 / 5;
	grid-row: 2;
}
.question{
	grid-column: 1/2;
	grid-row: 2;
}
.form{
	grid-column: 2/4;
	grid-row: 2;
}
/* blockquote */
*, *:before, *:after{
    margin: 0;
    padding: 0;
    direction: ltr;
    box-sizing: border-box;
}
.jokes-copy{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  width: 80%;
  margin:0 auto;
  padding: 3rem;
}
.jokes-copy p {
    text-rendering: optimizeLegibility;
}
.jokes-copy blockquote {
    border-radius: 3px;
    position: relative;  /*  <--- */
    font-style: italic;
    text-align: center;
    padding: 1rem 1.2rem;
    width: 80%;  /* create space for the quotes */
    color: #4a4a4a;
    margin: 1rem auto 2rem;
    color: #4a4a4a;
    background: #E8E8E8;
}
/* -- create the quotation marks -- */
.jokes-copy blockquote:before,
.jokes-copy blockquote:after{
    font-family: FontAwesome;
    position: absolute;
    /* -- inside the relative position of blockquote -- */
    top: 13px;
    color: #E8E8E8;
    font-size: 34px;
}
.jokes-copy blockquote:before{
    content: "\f10d";
    margin-right: 13px;
    right: 100%;
}
.jokes-copy blockquote:after{
    content: "\f10e";
    margin-left: 13px;
    left: 100%;  
}
footer h3{
	text-align: center;
}
.footer {
	display: grid;
    grid-gap: .1em;
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  }
  
  .team {
	background-color: #E8E8E8;
	color: #4a4a4a;
	padding: 20px;
	font-size: 1em;
  }
  .banner{
	grid-column: 1 / -1;
	background-color: #000000;
	height: 3em;
  }
.banner p{
	color: #E8E8E8;
	text-align: center;
	padding: 1em;
}
@media all and (max-width:800px){
	header{
		justify-content: space-around;
	}
	.container{
		padding:50px;
	}
}
@media only screen and (max-width:542px){
	header div:nth-child(1){
		margin: 0 auto;
		display: block;
		padding-bottom:0;
	}
	header{
		flex-direction: column;
		padding-bottom: 15px;
	}
	.child{
		flex-grow: 1;
		text-align: center;
	}
	header ul{
		background:#ffffff;
		width: 100%;
		margin-top: 15px;
	}
	header ul li{
		width: 50%;
		padding: 5px;
	}
	header div:nth-child(2){
		align-self: flex-end;
		width: 80%;
	}
	.containter{
		padding: 15px;
	}
}
